body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }
  
  .title {
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  textarea.input-field {
    font-family: inherit;
    min-height: 150px;
    resize: vertical; 
  }
  
  .add-button,
  .edit-button,
  .cancel-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover,
  .edit-button:hover,
  .cancel-button:hover {
    background-color: #0056b3;
  }
  
  .cancel-button {
    background-color: #dc3545;
  }
  
  .cancel-button:hover {
    background-color: #ba2633;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #ba2633;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 250px; /* Adjust as needed */
    max-width: 300px; /* Set a maximum width to limit card width */
    width: calc(100% - 20px); /* Limit card width to container width */
    margin: auto; 
  }  

  .card-title {
    text-align: center;
    text-decoration: underline;
  }
  
  .card-actions {
    display: flex;
    justify-content: center;
  }
  
  .card-actions button {
    margin-left: 5px;
  }
  
  .card-description {
    max-height: 150px; 
    overflow: auto;
    box-shadow: none;
    white-space: pre-wrap;
  }
  
  .error {
    color: #dc3545;
    margin-top: 0.5rem;
  }

  .go-home-button {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    border: 1px solid #007bff;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .go-home-button:hover {
    background-color: #007bff;
    color: #fff;
  }
  

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scroll-to-top:hover {
    background-color: #0056b3;
  }
  
  .item-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    text-align: center;
    white-space: pre-wrap;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .navigation-buttons a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navigation-buttons a:hover {
    background-color: #333;
    color: #fff;
  }
  